td {
  padding-top: 15px;
  padding-bottom: 15px;
}
.content {
  border: 1 solid black;
}
.header {
  display: flex;
  flex-direction: row;
}
table {
  width: 100%;
}
th,
tr,
td,
table {
  border: 1px solid black;
}
