td {
  padding-top: 15px;
  padding-bottom: 15px;
}
.header {
  display: flex;
  flex-direction: row;
}
table {
  width: 100%;
  border: none;
}
.icon {
  height: 20px;
  width: 20px;
}
.buttonMore {
  border: none;
  background-color: white;
}
.buttonMore:hover {
  background-color: gray;
  border-radius: 20px;
}
td {
  padding: 5px;
}
.borderBottom {
  border-bottom: 2px solid black;
}
tr,
th,
td {
  border: 1px solid red;
  border-right: none;
  border-top: none;
  border-left: none;
}
