td {
  padding-top: 15px;
  padding-bottom: 15px;
}
.content {
  border: 1 solid black;
}
.header {
  display: flex;
  flex-direction: row;
}
table {
  width: 100%;
}
th,
tr,
td,
table {
  border: 1px solid black;
}
.icon {
  height: 20px;
  width: 20px;
}
.buttonMore {
  border: none;
  background-color: white;
}
.buttonMore:hover {
  background-color: gray;
}
