* {
  padding: 5px;
  line-height: 1.5em;
}
img {
  border: 1 solid black;
}
blockquote {
  margin-top: -20px;
}

a {
  font-style: normal;
  text-decoration: underline;
  color: blue;
  line-height: 0px;
  display: flex;
  flex-direction: row;
  display: inline;
}
h1,
li {
  line-height: 5px;
}
ul {
  margin-left: 30px;
  margin-top: -20px;
}
.icon {
  height: 24px;
  width: 24px;
}
.span {
  text-transform: uppercase;
  line-height: 14px;
}
